html {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background: #475569;
    width: 100%;
    height: 100%;
    gap: 10px;
    color: #0f172a;
    margin: 5px;
    align-items: center;
}

title {
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: [line1]auto[line2]30%[line3];
    grid-template-rows: [row1]auto[row2];
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.contenido {
    display: grid;
    grid-template-columns: [line1]auto[line2]auto[line3];
    grid-template-rows: [row1]auto[row2]auto[row3];
    gap: 20px;
    grid-column: line1 / line2;
    grid-row: row1 / row2;
    width: 100%;
}

.presentacion {
    grid-column: line2 / line3;
    grid-row: row1 / row2;
    height: 100%;
}

article,
main,
footer,
.presentacion {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #94a3b8;
    border-radius: 10px;
    width: 100%;
}

p {
    color: #1e293b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.imgins {
    width: 100%;
    height: 80%;
}

.ventfree {
    grid-column: line1 / line2;
    grid-row: row1 / row2;
}

.ventilada {
    grid-column: line2 / line3;
    grid-row: row1 / row2;
}

.fluorecente {
    grid-column: line1 / line2;
    grid-row: row2 / row3;
}

.instagram {
    grid-column: line2 / line3;
    grid-row: row2 / row3;
}

@media screen and (max-width: 1024px) {
    .contenido, .container{
        display: flex;
        flex-direction: column;
    }
    p, main{
        word-wrap: break-word;
        font-size: 14px;
    }
    
}

